:root{
    --h1-size:20pt;
    --body-background-color:white;
}

h1{
    font-size: var(--h1-size);

}
body{
    background-color: var(--body-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media screen and (max-width:768px) and (min-width:700px) {
    body{
        background-color: black;
        color: white;
    }
}