/*styles für hello world*/

body{
    font-size: 20px;
}

ul{
    font-size: 50px;
}
li{
    font-size: 60px;
}

ul#list-sizes {
    color: red;
}

ul#list-colors{
    color: blue;
}

.active-state {
    font-weight: bold;
}